/* Client Specific Custom CSS */

/* MASTHEAD ===================================================== */
	/*  !!!!!! --- IMPORTANT ---- !!!!!
		Adjust padding-top to align text to center of logo
		Adjust width percentage to control text wrap
	*/
	#sitename{
		width:60%;
		padding-top:34px;
	}
	
	/* 
		Optional logo right margin 
		Use to increase or decrease right margin. Default = 34px
	*/
	/* #clientlogo{margin-right:34px !important;} */
	
#sitename{color:#b71234;}
.navbar-inner{background:#1e1e1e; border:0; filter:none;}
.nav li a{color:#fff !important; text-shadow:none !important;}
.nav li a:hover{color:#b71234 !important;}

/* BANNER ======================================================= */
.jumbotron{background: url('media/banner2.png') 0 0 no-repeat;}
.jumbotron h1{}
.jumbotron p{width:58%;}


/* HEADINpG ====================================================== */
h1, h2, h3, h4, h5, h6{color:#b71234;}


/* LINKS ========================================================= */
a{color:#44697d;}
a:hover{color:#0083a9; text-decoration:none;}


/* BUTTONS ====================================================== */
.btn-primary {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #44697d;
background-image: none;
border:0;
}

.btn-primary:hover{background-color:#0083a9}
.btn-primary.disabled, .btn-primary[disabled]{background-color:#bbb}