/* Client Specific Custom CSS */

/* MASTHEAD ===================================================== */
	/*  !!!!!! --- IMPORTANT ---- !!!!!
		Adjust padding-top to align text to center of logo
		Adjust width percentage to control text wrap
	*/
	#sitename{
		width:60%;
		padding-top:34px;
	}
	
	/* 
		Optional logo right margin 
		Use to increase or decrease right margin. Default = 34px
	*/
	/* #clientlogo{margin-right:34px !important;} */

#sitename{color:#00257b;}
.navbar-inner{background:#00257b; border-bottom:solid 3px #e70033; filter:none;}
.nav li a{color:#fff !important; text-shadow:none !important;}
.nav li a:hover{color:#ff577c !important;}


/* BANNER ======================================================= */
.jumbotron{background: url('media/banner4.png') 0 0 no-repeat;}
.jumbotron p{width:58%;}


/* HEADING ====================================================== */
h1, h2, h3, h4, h5, h6{color:#00257b;}


/* LINKS ========================================================= */
a{color:#e70033;}
a:hover{color:#ff577c; text-decoration:none;}


/* BUTTONS ====================================================== */
.btn-primary {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #e70033;
background-image: none;
}

.btn-primary:hover{background-color:#ff577c}
.btn-primary.disabled, .btn-primary[disabled]{background-color:#bbb}